<div class="content">
  <ngx-google-play-badge
    url="https://play.google.com/store/apps/details?id=xyz.wikylyu.totk"
  ></ngx-google-play-badge>

  <ngx-app-store-badge
    url="https://apps.apple.com/app/id6462862080"
  ></ngx-app-store-badge>

  <ngx-app-store-badge
    url="https://apps.apple.com/app/id6462862080"
    light
  ></ngx-app-store-badge>

  <ngx-amazon-app-store-badge
    url="https://play.google.com/store/apps/details?id=xyz.wikylyu.totk"
  ></ngx-amazon-app-store-badge>

  <ngx-amazon-app-store-badge
    light=""
    url="https://play.google.com/store/apps/details?id=xyz.wikylyu.totk"
  ></ngx-amazon-app-store-badge>

  <ngx-android-apk-badge
    url="https://play.google.com/store/apps/details?id=xyz.wikylyu.totk"
  ></ngx-android-apk-badge>
</div>
