:host {
  display: block;
  text-align: center;
  div.content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    ngx-google-play-badge,
    ngx-app-store-badge,
    ngx-amazon-app-store-badge,
    ngx-android-apk-badge {
      width: 200px;
    }
  }
}
