:host {
  display: block;
  text-align: center;
  div.content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;

    ngx-google-play-badge,
    ngx-app-store-badge {
      display: block;
      width: 200px;
    }
    ngx-app-store-badge {
      margin-top: 20px;
    }
  }
}
